services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: smarthome
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  mosquitto:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
  engine:
    build: .
    depends_on:
      - postgres
      - redis
      - mosquitto
    env_file:
      - .env
    ports:
      - "5069:5069"
    restart: unless-stopped