name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build with Docker Compose
        run: docker compose -f docker-compose.yml build

      - name: Run containers
        run: docker compose -f docker-compose.yml up -d

      - name: Show running containers
        run: docker ps -a

      - name: Stop containers
        run: docker compose -f docker-compose.yml down
